
<div class="card flex justify-content-center">
    <p-button label="Home Close" [loading]="loading" (click)="getHomeCloseGrid()"></p-button>
</div>

<div class="card">
    <p-treeTable [value]="data" [columns]="homeCloseCols" [frozenColumns]="frozenCols" [scrollable]="true" scrollHeight="300px" frozenWidth="200px" [tableStyle]="{'min-width':'50rem'}">
        <ng-template pTemplate="caption"> Home Close Response </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" style="width:250px" />
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th id="" *ngFor="let col of columns">{{ col.headerName }}</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr style="height: 57px">
                <td *ngFor="let col of columns; let i = index" [ngClass]="{'negative_number': rowData[col.field] < 0}">
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
            <tr style="height: 57px">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData.line_name }}
                </td>
            </tr>
        </ng-template>

    </p-treeTable>
</div>
